@font-face {
  font-family: "SquadaOne-Regular";
  src: url(../src/Ligiotec\ Solution/SquadaOne-Regular.ttf);
}
.squad {
  font-family: "SquadaOne-Regular";
}

@font-face {
  font-family: "Qwigley-Regular";
  src: url(./Ligiotec\ Solution/Qwigley-Regular.ttf);
}

.slant {
  font-family: "Qwigley-Regular";
}
@font-face {
  font-family: "ComforterBrush-Regular";
  src: url(./Ligiotec\ Solution/ComforterBrush-Regular.ttf);
}
.team {
  font-family: "comforterBrush-Regular";
}
.st {
  position: relative;
  font-size: 8rem;
  color: #252839;
  -webkit-text-stroke: 0.3vm #383d52;
}

.trans::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;

  color: #f55326;
  -webkit-text-stroke: 0vw #383d52;
  border-right: 2px solid #f55326;
  overflow: hidden;
  animation: animate 2s linear infinite;
}

@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  80% {
    width: 100%;
  }
}
.smst {
  position: relative;
  font-size: 3rem;
  color: #252839;
  -webkit-text-stroke: 0.3vm #383d52;
}

.smtrans::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;

  color: #f55326;
  -webkit-text-stroke: 0vw #383d52;
  border-right: 2px solid #f55326;
  overflow: hidden;
  animation: animate1 2s linear infinite;
}

@keyframes animate1 {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  80% {
    width: 100%;
  }
}
