@font-face {
  font-family: "SquadaOne-Regular";
  src: url(../src/Ligiotec\ Solution/SquadaOne-Regular.ttf);
}
.squad {
  font-family: "SquadaOne-Regular";
}

@font-face {
  font-family: "Qwigley-Regular";
  src: url(./Ligiotec\ Solution/Qwigley-Regular.ttf);
}

.slant {
  font-family: "Qwigley-Regular";
}
@font-face {
  font-family: "ComforterBrush-Regular";
  src: url(./Ligiotec\ Solution/ComforterBrush-Regular.ttf);
}
.team {
  font-family: "comforterBrush-Regular";
}
